extends layout

block content
  if hostingEvents.length > 0
    section.section
      .container
        .columns.is-centered
          .column.is-8
            h1.title.has-text-centered Hosting
            hr
            .columns.is-multiline.is-centered.is-vcentered
              each event in hostingEvents
                .column.is-6
                  include partials/eventCard
  if attendingEvents.length > 0
    section.section
      .container
        .columns.is-centered
          .column.is-8
            h1.title.has-text-centered Attending
            hr
            .columns.is-multiline.is-centered.is-vcentered
              each event in attendingEvents
                .column.is-6
                  include partials/eventCard