extends layout
block stylesheets
  link(rel='stylesheet', href='/css/index.css')

block content
  section.hero.is-primary.is-bold.is-medium
    .hero-body
      .container
        h1.title Find cool events
  p=message

      