doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/layout.css')
    block stylesheets
    script(src="/js/layout.js")
    block scripts
  body
    include partials/nav
    block content
    include partials/footer
