doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/layout.css')
    block stylesheets
    script(src='https://use.fontawesome.com/b91ce17179.js')
    script(src="/scripts/all.js")
    block scripts
  body
    include partials/nav
    .body-content
      block content
    include partials/footer
