extends layout

block content
  section.section
    .container
      .columns.is-vcentered.is-centered
        .column.is-one-quarter
          img.avatar.big-avatar.is-block(src=targetUser.avatarUrl)
        .column.is-one-quarter
          if targetUser.displayName
            p.is-size-3=targetUser.displayName
          p.has-text-weight-bold.is-size-4='@'+targetUser.username
          button.button Listen
      .columns.is-vcentered.is-centered
        .column.is-half
          if targetUser.bio
            p=targetUser.bio
  if events
    section.section
      .container
        h1.title Hosting
          .columns
            each event in events
              .column.is-3
                include partials/eventCard
