@charset "utf-8";
$primary: #882088;
$link: #4188b1;
$warning: #fdeb87;
// $family-primary: 'Farro', sans-serif;
// $family-primary: 'Philosopher', sans-serif;
// $family-primary: 'Heebo', sans-serif;
// $family-primary: 'Palanquin', sans-serif;
$family-primary: 'Proza Libre', sans-serif;

// import predefined variables
@import "../../../node_modules/bulma/sass/utilities/_all";

// Override them if necessary
$navbar-height: 5rem;
$navbar-item-img-max-height: 3rem;
$navbar-breakpoint: $tablet;
$footer-background-color: $white-ter;

// import page elements
@import "../../../node_modules/bulma/sass/base/_all";

@import "../../../node_modules/bulma/sass/layout/_all";
@import "../../../node_modules/bulma/sass/form/_all";
@import "../../../node_modules/bulma/sass/elements/_all";

// Components
@import "../../../node_modules/bulma/sass/components/navbar";
@import "../../../node_modules/bulma/sass/components/modal";
@import "../../../node_modules/bulma/sass/grid/columns";
@import "../../../node_modules/bulma/sass/components/card";

#definition {background-color: #fbf9ff}
#ourMission {border-right: 1px solid white}
#ourMission p {font-size: 3rem; line-height: 5rem;}
nav {padding-left: 1rem; padding-right: 1rem;}
.navbar-start {flex-grow: 4;}
.navbar-start .navbar-item {width: 100%;}
#navSearchForm {width: 100%; max-width: 500px;}
.navbar-end {flex-grow: 3;}
.avatar {border-radius: 100%}
.margin-centered {margin: 0 auto}
.event-tag {margin-right: 1rem;}
button.follow {margin-top: 1rem;}
button.attend { margin-top: 2rem;}
.field-label.privacy{flex-grow: 4}
label.privacy{text-align: left}
.settings-save{margin: 2rem auto 5rem; max-width: 500px}
.field-body.privacy{justify-content: flex-end;}
.field.is-horizontal{max-width: 500px; margin: 1rem auto;}
.settings .file {justify-content: center; margin-top: 1.5rem;}
#cropModal button {margin-right: 1rem;}
.body-content {min-height: 70vh;}
#map{height: 300px;z-index: 0;}
.search-avatar-container {display: flex; justify-content: center; align-items: center}
#landingHeroImage{border-radius: 20px;}
#landingHeroFadeText{display: inline-block; width: 180px; padding-bottom: 5px;}
#landingHeroFadeTextContainer{border-bottom: 1px solid white; margin-left: .5rem;}
// .user-search-result .avatar {max-width: 150px;}