@charset "utf-8";
$primary: #882088;
$link: #4188b1;
$warning: #fdeb87;
// $family-primary: 'Farro', sans-serif;
// $family-primary: 'Philosopher', sans-serif;
// $family-primary: 'Heebo', sans-serif;
// $family-primary: 'Palanquin', sans-serif;
$family-primary: 'Proza Libre', sans-serif;

// import predefined variables
@import "../../../node_modules/bulma/sass/utilities/_all";

// Override them if necessary
$navbar-height: 5rem;
$navbar-item-img-max-height: 3rem;
$navbar-breakpoint: $tablet;
$footer-background-color: $white-ter;

// import page elements
@import "../../../node_modules/bulma/sass/base/_all";

@import "../../../node_modules/bulma/sass/layout/_all";
@import "../../../node_modules/bulma/sass/form/_all";
@import "../../../node_modules/bulma/sass/elements/_all";

// Components
@import "../../../node_modules/bulma/sass/components/navbar";
@import "../../../node_modules/bulma/sass/components/modal";
@import "../../../node_modules/bulma/sass/grid/columns";
@import "../../../node_modules/bulma/sass/components/card";

#definition {background-color: #fbf9ff}
#ourMissionText {border-left: 1px solid white; padding-left: 3rem;}
#ourMissionTitle p {font-size: 3rem; line-height: 5rem;}
#ourMissionTitle {margin-right: 2rem;}
nav {padding-left: 1rem; padding-right: 1rem;}
.navbar-start {flex-grow: 4;}
.navbar-start .navbar-item {width: 100%;}
#navSearchForm {width: 100%; max-width: 500px;}
.navbar-end {flex-grow: 3;}
.avatar {border-radius: 100%}
.margin-centered {margin: 0 auto}
.event-tag {margin-right: 1rem;}
button.follow {margin-top: 1rem;}
button.attend { margin-top: 2rem;}
.field-label.privacy{flex-grow: 4}
label.privacy{text-align: left}
.settings-save{margin: 2rem auto 5rem; max-width: 500px}
.field-body.privacy{justify-content: flex-end;}
.field.is-horizontal{max-width: 500px; margin: 1rem auto;}
.settings .file {justify-content: center; margin-top: 1.5rem;}
#cropModal button {margin-right: 1rem;}
.body-content {min-height: 70vh;}
#map{height: 300px;z-index: 0;}
.search-avatar-container {display: flex; justify-content: center; align-items: center}
.landingHeroImage{border-radius: 20px;}
.landingHeroFadeText{display: inline-block; width: 180px; padding-bottom: 5px;}
#landingHeroFadeTextContainer{border-bottom: 1px solid white; margin-left: .5rem;}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -10px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -10px, 0);
  }
}

.landingHeroFadeText:first-of-type, .landingHeroImage:first-of-type {
  animation-name: fadeOutUp;
  animation-duration: 500ms;
  animation-delay: 2s;
}

.landingHeroFadeText:not(:first-of-type):not(:last-of-type), .landingHeroImage:not(:first-of-type):not(:last-of-type) {
  animation-name: fadeInDown, fadeOutUp;
  animation-duration: 500ms, 500ms;
  animation-delay: 0s, 2s;
}

.landingHeroFadeText:last-of-type, .landingHeroImage:last-of-type {
  animation-name: fadeInDown;
  animation-duration: 500ms;
  animation-delay: 0s;
}


// .user-search-result .avatar {max-width: 150px;}

.rsvp-user-container {display: flex; align-items: center; margin-bottom: 1rem;}
.rsvp-avatar {border-radius: 100%; width: 70px;}
.rsvp-display-name {display: inline-block; font-size: 1.5rem; font-weight: 700}
.rsvp-name-container{display: flex; flex-direction: column; margin-left: 1rem;}