.card.event-card(url='events/' + event.url_key)
  .card-content
    .title.is-4=event.name
    if event.date_start
      // TODO add support for multi-day events
      p.subtitle
        =moment(event.date_start).format('MMM Do')
        br
        =moment(event.date_start).format('LT')
        if event.date_end
          =moment(event.date_end).format(' - LT')
    