.modal#login-modal
  .modal-background
  .modal-content
    .box
      h2.title Login
      form
        .field
          label.label Username/Email
          .control
            input.input#username-email(type='text' required)
        .field
          label.label Password
          .control
            input.input#password(type='password', required)
        .field.is-grouped
          .control
            button.button.is-link Submit
          .control
            button.button.is-text#cancel Cancel
  button.modal-close.is-large(aria-label='close')