.modal#login-modal
  .modal-background
  .modal-content
    .box
      h2.title Login
      form
        .field
          label.label Handle or Email
          .control.has-icons-left
            input.input#loginUsernameEmailInput(type='text' name='usernameEmail' required)
            span.icon.is-left
              i.fa.fa-user
          p.help If handle, do not include the @ symbol
        .field
          label.label Password
          .control.has-icons-left
            input.input#loginPasswordInput(type='password' name='password' required)
            span.icon.is-left
              i.fa.fa-key
          p.help.is-danger#loginHelp
        .field.is-grouped
          .control
            button.button.is-link(type='submit') Submit
          .control
            button.button.is-text.cancel(type='button') Cancel
  button.modal-close.is-large(aria-label='close')