.modal#signupModal
  .modal-background
  .modal-content
    .box
      h2.title Signup
      form
        .field
          label.label Handle
          .control.has-icons-left
            input.input#signupUsernameInput(type='text' name='username' required)
            span.icon.is-left
              i.fa.fa-at
          p.help#signupUsernameHelp Letters, numbers, and underscores allowed. 3 characters minimum. Can be changed later.
        .field
          label.label Email
          .control.has-icons-left
            input.input#signupEmailInput(type='email' name='email' required)
            span.icon.is-left
              i.fa.fa-envelope
          p.help#signupEmailHelp For password recovery.
        .field
          label.label Password
          .control.has-icons-left
            input.input#signupPasswordInput(type='password' name='password' required)
            span.icon.is-left
              i.fa.fa-key
          p.help#signupPasswordHelp 8 characters minimum. Securely stored.
        .field.is-grouped
          .control
            button.button.is-link#signupSubmit Submit
          .control
            button.button.is-text.cancel Cancel
  button.modal-close.is-large(aria-label='close')